/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

 body {
   font-family: 'Raleway', sans-serif;
   color: #566066;
 }

 a:hover {
   text-decoration: none;
 }

 h1, h2 {
   color: #018FC0;
 }

 p {
   color: #EB559C;
 }

 .bg-faded {
   background-color: #FFF;
   border-bottom: 2px solid #018FC0;
 }

 .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
   font-weight: 500;
   color: #018FC0;
 }

 .nav-item {
   text-transform: uppercase;
   margin: 10px 10px;
 }

 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
   color: #018FC0;
   border: 1px solid transparent;
   border-radius: 10px;
 }


 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
   color: #018FC0;
   border: 1px solid #018FC0;
   border-radius: 10px;
 }

 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
   color: #018FC0;
   border: 1px solid #018FC0;
   border-radius: 10px;
 }

 .content {
   background-color: #F6F6F6;
   text-align: center;
 }

 .choice-description {
   color: #018FC0;
   font-size: 23px;
   font-weight: 500;
 }

 .choice-price {
   font-size: 23px;
 }

 .form-check-label {
   font-size: 1.5rem;
 }

 .mb-2, .promo {
   width: 40%;
   margin: auto;
   border: 2px solid #018FC0;
 }

 /*found on stack overflow, by Erik-Martijn Kasimier*/
 .carousel-item.active,
 .carousel-item-next,
 .carousel-item-prev {
   display: block;
 }

 .transportation {
   padding: 0.6% 0;
   font-weight: 500;
   color: #566066;
   border: 2px solid #566066;
   width: 35%;
   border-radius: .25rem;
   margin: auto;
 }

 .transportation:hover {
   background-color: #566066;
   color: #F6F6F6;
 }

 .btn-secondary {
   border: none;
   margin-left: 100%;
   background-color: transparent;
   color: #018FC0;
 }

 .summary {
   height: 50%;
   position: absolute;
   background-color: #fff;
   right: 0;
   padding: 0 20px;
 }

 .summary.row {
   margin: 0;
 }
 .mobile-only {
   display: none;
 }

 @media only screen
   and (min-device-width: 320px)
   and (max-device-width: 480px)
   and (-webkit-min-device-pixel-ratio: 2) {
     .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
       text-align: center;
     }
     .transportation {
       width: 70%;
     }
     .btn-secondary {
       display: none
     }
 }
